<?xml version="1.0" encoding="UTF-8"?>
<root>
	<mysql>
		<drive>mysql</drive>
		<host>localhost</host>
		<user>root</user>
		<password>245030109</password>
		<dbname>test</dbname>
	</mysql>
	<memcached>
		<host>localhost</host>
		<port>port</port>
	</memcached>
	
	<control>
		
		<command name="default">
			<path>/</path>
			<view>/index.php</view> <!-- default -->
			<view status="SYS_ERROR_404">/error_404.php</view>
		</command>

		<command name="login">
			<path>/user/</path>
			<view>/user/login.php</view>	
			<status value="SYS_SUCCESS">
				<forward>showcontacts</forward><!-- 这里登录成功转向命令-->
			</status>
		</command>
		
		<command name="showcontacts">
			<path>/user/</path> <!-- 命令类位于command/user/目录下 -->
			<view >/user/contacts.php</view><!-- 视图路径配置 -->
		</command>

		<command name="index">
			<path>/</path><!-- 表示命令类位于command目录下 -->
			<view>/index.php</view>
		</command>
		
	</control>
</root>